<section class="mx-5 my-4 min-h-75vh p-3">

    <div class="card w-25 m-auto shadow-sm">
        <div class="card-header text-center">
            <h4>Вычисление z<sub>1</sub> и z<sub>2</sub></h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item text-center">Входные данные</li>
                <li class="list-group-item">&alpha;: <b id="alphaId">{{a.toFixed(7)}}</b></li>
                <li class="list-group-item text-center">Результат</li>
                <li class="list-group-item">z<sub>1</sub>: <b id="z1Id">{{z1.toFixed(7)}}</b></li>
                <li class="list-group-item">z<sub>2</sub>: <b id="z2Id">{{z2.toFixed(7)}}</b></li>
            </ul>
        </div>
        <div class="card-footer text-center">
            <button id="generateId" type="button" class="btn btn-primary">Сгенерировать данные</button>
        </div>
    </div>

</section>
