<div class="brief w-75">
  <h2>Теоретическая часть</h2>
  

  <h2>Практическая часть</h2>

  <p>Разработайте приложение <b>Angular</b> с компонентами, маршрутизацией по этим компонентам, с использованием привязки,
    обработчиков событий, атрибутивных и структурных директив. Используйте модели, вспомогательные модули для хранения
    данных и реализации обработок. Не надо применять сервисы для источников данных, формы.</p>

  <p>В один из компонентов выводите текст этого задания. Решение задачи разместите в компоненте/компонентах.</p>

  
  
  <h2>Дополнительно</h2>
  <p>
    Запись занятия можно скачать по
    <a href=""> <b>этой ссылке</b> </a>.
    Материалы занятия – в этом же архиве.
  </p>
</div>
