<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 min-h-75vh p-3">

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h4 class="text-center">Текст</h4>
                <div id="textId"></div>
            </div>
            <div class="col-4">
                <h4 class="text-center">Статистика</h4>
                <ul class="list-group">
                    <li class="list-group-item">Самое короткое слово:
                        <ul id="minSizeWordsId"></ul>
                    </li>
                    <li class="list-group-item">Самое длинное слово:
                        <ul id="maxSizeWordsId"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
