<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 min-vh-100 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Основные понятия маршрутизации в Angular</li>
            <li>Маршрутизация в Angular – дочерние маршруты</li>
            <li>Ленивая загрузка компонентов</li>
            <li>Программный редирект на заданный маршрут</li>
            <li>Динамические маршруты – передача параметров в маршрутах</li>
            <li>Передача параметров в строке запроса</li>
        </ul>

    </details>
    <!-- #endregion -->

    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Разработайте приложение <b>Angular</b> с использованием изученных возможностей по маршрутизации:
        </p>

        <ul>
            <li>
                В компоненте Book1 создайте дочерние компоненты Introduction, Chapter1, …, Chapter4. Предусмотрите
                навигацию между компонентами. При переходе на компонент Book1 вызывайте дочерний компонент Introduction.
            </li>
        </ul>

    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>


        <p>
            Запись занятия можно скачать
            <a href="https://cloud.mail.ru/public/4FGp/qt2A6HVHz" target="_blank">по этой
                ссылке</a>, материалы занятия в прикрепленном архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
