<div class="continer-fluid">
  <div class="row mx-5">

    <!-- Слайд-шоу, карусель -->
    <div id="photos" class="carousel mt-5" data-bs-ride="carousel">
      <h3>Фотографии формата *.jpg из папки изображений кораблей</h3>
      <div class="carousel-inner">

        <!-- Генерация элементов карусели для коллекции кораблей -->
        <div class="carousel-item" [class.active]="firstActive() == 0" *ngFor="let photo of photos">
            <img src="assets/images/task02/{{photo}}" alt="Имя файла {{photo}}"
                 class="d-block" style="width: 100%">
            <div class="carousel-caption">
                <h3>Имя файла: {{ photo }}</h3>
            </div>
        </div>
      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#photos" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#photos" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

  </div>
</div>
