<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Атрибутивная директива ngStyle для управления CSS-стилями</li>
            <li>Атрибутивная директива ngClass для управления CSS-классами</li>
            <li>Структурная директива *ngIf – управление размещением элемента разметки в DOM-дереве</li>
            <li>Структурная директива *ngTemplate – шаблон элемента разметки в DOM-дереве</li>
            <li>Структурная директива ngSwitch – множественный выбор в управлении размещением элементов разметки в
                DOM-дереве
            </li>
            <li>Структурная директива *ngFor – управление размещением коллекции элементов разметки в DOM-дереве</li>
            <li>Структурная директива *ngContainer – обертка для размещения элементов разметки в DOM-дерев</li>
            <li>Структурная директива *ngTemplateOutlet – управление размещением шаблона элемента разметки в
                DOM-дереве
            </li>
            <li>Понятие о конвейерах обработки (pipes) а Angular</li>
            <li>Разновидности пайпов</li>
            <li>Синтаксис применения пайпов</li>
        </ul>

    </details>
    <!-- #endregion -->


    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Разработайте приложение <b>Angular</b> с компонентами, маршрутизацией по этим компонентам, с использованием
            привязки, обработчиков событий, атрибутивных и структурных директив. Используйте модели, вспомогательные
            модули для хранения данных и реализации обработок. Не надо применять сервисы для источников данных, формы.
        </p>

        <p>
            В один из компонентов выводите текст этого задания. Решение задачи разместите в компоненте/компонентах.
        </p>

        <!-- #region Задание 1 -->
        <p>
            <b>Задача 1</b>. Требуется хранить в коллекции и выводить на страницу HTML сведения о напитках,
            приготавливаемых в кофейне (название, объем, цена, признак напитка на вынос, топпер – название или строка
            «нет», фото напитка при подаче). Формируйте не менее 12 видов напитков.
        </p>

        <p>
            По командам (кликам по кнопкам) запускайте обработчики:
        </p>

        <ul>
            <li>Вывод исходной коллекции сведений о напитках</li>
            <li>Упорядочивание копии коллекции по наименованию напитка</li>
            <li>Упорядочивание копии коллекции по виду топпера</li>
            <li>Упорядочивание копии коллекции по убыванию цены напитка</li>
            <li>Выборка напитков по топперу, выбранную группу выделяйте CSS-классом/CSS-классами, выделение снимайте
                через 10 с после выделения
            </li>
            <li>Выборка напитков по диапазону цены, выбранную группу выделяйте CSS-классом/CSS-классами, выделение
                снимайте через 10 с после выделения
            </li>
            <li>Выбор напитков, которые могут быть поданы «на вынос», выбранную группу выделяйте
                CSS-классом/CSS-классами, выделение снимайте через 10 с после выделения
            </li>
        </ul>
        <!-- #endregion -->
    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>

        <p>
            Запись занятия можно скачать
            <a href="https://cloud.mail.ru/public/c96S/E8QNUYjjd" target="_blank">по этой
                ссылке</a>, материалы занятия в прикрепленном архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
