<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Понятие о привязке данных в Angular-шаблонах</li>
            <li ngNonBindable>Интерполяция {{ }}</li>
            <li>Привязка к атрибутам и свойствам элементов разметки []</li>
            <li>Получение ссылок на элементы разметки</li>
            <li>Привязка к событиям на элементах разметки</li>
            <li>Передача параметров в обработчики событий</li>
            <li>Передача событийного объекта, переменная $event</li>
            <li>Атрибутивные директивы для доступа к CSS-классам, CSS-стилям</li>
        </ul>

    </details>
    <!-- #endregion -->


    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Разработайте приложение <b>Angular</b> с компонентами, маршрутизацией по этим компонентам, с использованием
            привязки, обработчиков событий, атрибутивных директив. Используйте модели, вспомогательные модули для
            хранения данных и реализации обработок. Не надо применять сервисы для источников данных, формы.
        </p>

        <p>
            В один из компонентов выводите текст этого задания. Решение каждой задачи разместите в компоненте.
        </p>

        <!-- #region Задание 1 -->
        <p>
            <b>Задача 1</b>. Требуется хранить в коллекции и выводить сведения о планетах Солнечной системы –
            название, среднее расстояние до Солнца, радиус, масса, изображение, количество известных спутников, группа
            (газовый гигант, ледяной гигант, земной тип).
        </p>

        <p>
            По командам (кликам по кнопкам) запускайте обработчики:
        </p>

        <ul>
            <li>Вывод исходной коллекции сведений о планетах</li>
            <li>Упорядочивание копии коллекции по среднему расстоянию до Солнца</li>
            <li>Упорядочивание копии коллекции по категориям (порядок указан выше)</li>
            <li>Упорядочивание копии коллекции по количеству известных спутников</li>
            <li>Выборка планет по заданной группе – группу выбирайте радиокнопками, выбранную группу выделяйте стилями
            </li>
            <li>Выборка планет по количеству известных спутников (нет, 1 или 2 спутника, более 2х спутников), критерий
                выборки также задавайте радиокнопками
            </li>
        </ul>
        <!-- #endregion -->

        <!-- #region Задание 2 -->
        <p>
            <b>Задача 2</b>. Каждая заявка на авиабилет содержит: пункт назначения, номер рейса, фамилию и инициалы
            пассажира, стоимость билета. Разработайте класс для хранения заявки, создайте массив заявок из 10 - 12
            элементов. Выведите массив заявок в разметку, предусмотрите команды:
        </p>

        <ul>
            <li>Вывод исходной коллекции заявок</li>
            <li>Упорядочивание и вывод копии коллекции по пунктам назначения;</li>
            <li>Упорядочивание и вывод копии коллекции по стоимости билета;</li>
            <li>Упорядочивание и вывод копии коллекции, по номеру рейса</li>
            <li>
                Вывод копии коллекции, выделив все заявки со стоимостью билета выше значения, вводимого из строки ввода
                (не используйте формы), снимайте выделение через 10 с
            </li>
        </ul>
        <!-- #endregion-->
    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>

        <p>
            Запись занятия можно скачать
            <a href="https://cloud.mail.ru/public/ie2q/CkCurePJf" target="_blank">по этой
                ссылке</a>, материалы занятия в прикрепленном архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
