<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Основные файлы в папке app Angular-приложения</li>
            <li>Задание глобальных стилей</li>
            <li>Задание стилей компонента</li>
            <li>Размещение и подключение статических файлов проекта</li>
            <li>Назначение файлов компонента на примере главного компонента приложения</li>
            <li>Понятие о декораторах, декоратор @Component</li>
            <li>Основные параметры декоратора</li>
            <li>Вывод свойств и результатов методов класса компонента в разметку компонента, синтаксис интерполяции</li>
            <li>Модуль компонента, регистрация компонента в модуле, декоратор NgModule</li>
            <li>Задание списка компонентов для размещения в index.html</li>
            <li>Создание компонентов, команда AngularCLI создания компонентов</li>
            <li>Понятие о маршрутизации в Angular</li>
            <li>Построение маршрутов, регистрация маршрутов в модуле компонента приложения, селектор &lt;router-outlet&gt;</li>
            <li>Атрибут элемента &lt;a&gt; для задания ссылки на компонент</li>
        </ul>

    </details>
    <!-- #endregion -->


    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Разработайте приложение <b>Angular</b> с тремя компонентами, маршрутизацией по этим компонентам.
        </p>

        <!-- #region Задание 1 -->
        <p>
            <b>Компонент 1</b>. В классе компонента разработать метод для вычисления и вывода в разметку значений z1, z2
            по заданию. В качестве исходных данных примите случайные значения, формируемые в классе компонента.
        </p>

        <img class="h-5rem" src="assets/images/image1.png" alt="image01">
        <!-- #endregion -->

        <!-- #region Задание 2 -->
        <p>
            <b>Компонент 2</b>. В произвольном тексте, заданном присваиванием в классе компонента, найти самое длинное и
            самое короткое
            слово. Вывести текст и эти слова в разметку компонента.
        </p>
        <!-- #endregion-->

        <!-- #region Задание 3 -->
        <p>
            <b>Компонент 3</b>. Хранение и вывод данных о товаре – наименование, цена, количество, изображение товара.
        </p>
        <!-- #endregion -->
    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>

        <p>
            Запись занятия можно скачать
            <a href="https://cloud.mail.ru/public/32or/uQ41QrZcZ" target="_blank">по этой
                ссылке</a>, материалы занятия в прикрепленном архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
