<div class="container">
  <h1>Введение в Angular</h1>
  <h2></h2>
  <main>
    <nav>
      <h4>Component styles</h4>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">01_styles</a>
      <a routerLink="component-css" routerLinkActive="active">02_component-css</a>
      <a routerLink="view-encapsulation" routerLinkActive="active">03_ViewEncapsulation</a>
      <h3>Component Interaction</h3>
      <a routerLink="input" routerLinkActive="active">04_@Input Decorator</a>
      <a routerLink="output" routerLinkActive="active">05_@Output Decorator</a>
      <a routerLink="ng-content" routerLinkActive="active">06_ng-content tag</a>
      <a routerLink="view-child" routerLinkActive="active">07_@ViewChild Decorator</a>
    </nav>
    <div class="examples">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
