<h2>Структурная Директива ngFor</h2>
<!--
        let str of arrStr - получить каждый элемент из массива arrStr,
        сохранить в локальной переменной str и сделает доступной в HTML
        элементе на каждой итерации.
    -->
<button (click)="addStr()">Добавить пункт</button>
<ul>
  <!-- для каждого элемента коллекции arrStr сформировать элемент разметки <li> -->
  <!-- есть привязка, меняется коллекция (добавляется элемент)  меняется вывод -->
    <li *ngFor="let str of arrStr">
        {{ str }}
    </li>
</ul>

<!--    index - индекс элемента
        count - количество элементов
        even  - четные элементы
        odd   - нечетные элементы
        first - первый элемент
        last  - последний элемент
        https://angular.io/api/common/NgForOf -->
<hr>
<ul>
    <li
        *ngFor="let obj of arrObjs; index as i;let ev = even"
        [class.bg]="ev">
        {{ i }} - {{ obj.prop }}
    </li>
</ul>
