<section class="mx-5 my-4 min-h-75vh p-3">

    <div class="card w-25 m-auto shadow-sm">
        <div class="card-header text-center">
            <h4>Товар</h4>
            <img class="h-15rem" id="imgId" src="" alt="img">
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><b id="nameId"></b></li>
                <li class="list-group-item">Цена: <b id="priceId"></b></li>
                <li class="list-group-item">Количество: <b id="amountId"></b></li>
            </ul>
        </div>
        <div class="card-footer text-center">
            <button id="generateId" type="button" class="btn btn-primary">Сгенерировать данные</button>
        </div>
    </div>

</section>
