<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 min-vh-100 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Понятие о сервисе в Angular</li>
            <li>Директива создания сервиса – ng g s имя-сервиса</li>
            <li>Декоратор для сервиса @Injectable()</li>
            <li>Области видимости сервиса</li>
            <li>Регистрация сервиса – локальная и глобальная</li>
            <li>Упрощенная регистрация глобального сервиса</li>
        </ul>

    </details>
    <!-- #endregion -->

    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Разработайте приложение <b>Angular</b> с компонентами, маршрутизацией по этим компонентам, с использованием
            изученных тем по Angular. Используйте модели, вспомогательные модули для хранения данных и реализации
            обработок. Не надо применять сервисы для источников данных, формы.
        </p>

        <p>
            Разбивка на компоненты и организация их взаимодействия – на Ваше усмотрение. В один из компонентов выводите
            текст этого задания.
        </p>

        <!-- #region Задание 1 -->
        <p>
            <b>Задача 1</b>. Компонент C1 по клику на кнопку выдает два случайных числа (вещественных, <i>эти числа
            формируются глобальным сервисом, зарегистрированным локально CalculateService</i>). Компонент C2
            принимает эти числа, вычисляет <i>(при помощи глобального сервиса, зарегистрированного локально
            CalculateService)</i> по заданию z1, z2
            <img class="h-5rem" src="assets/images/image1.png" alt="image"><br>
            и эмитирует событие ResultReady компонент C3 обрабатывает
            событие, выводит z1, z2 и если z1 == z2 до 10го знака делает фон зеленым, иначе - красным.
        </p>
        <!-- #endregion -->

        <!-- #region Задание 2 -->
        <p>
            <b>Задача 2</b>. Требуется хранить в локальном хранилище коллекцию сведений о кораблях: тип, название,
            длина, ширина, водоизмещение, год постройки, фото корабля. <i>Работа с коллекцией должна выполняться в
            глобальном сервисе.</i> Инициализация коллекции сведений о кораблях
            должна проводиться при отсутствии файла (формируйте не менее 10 записей, фото – из заранее заготовленных).
        </p>

        <p>
            Функционал для разработки:
        </p>

        <ul>
            <li>вывод всей коллекции в исходном порядке</li>
            <li>вывод коллекции, упорядоченной по возрастанию года изготовления</li>
            <li>вывод коллекции, упорядоченной по убыванию водоизмещения</li>
            <li>вывод коллекции, упорядоченной по названиям кораблей</li>
            <li>добавление корабля в коллекцию (генерация данных, не требуется использовать форму)</li>
            <li>удаление корабля из коллекции</li>
        </ul>
        <!-- #endregion -->

        <!-- #region Задание 3 -->
        <p>
            <b>Задача 3</b>. Реализуйте карусель для вывода всех фотографий кораблей, хранящихся в Вашем приложении.
            <i>Коллекцию фотографий формируйте в том же сервисе, что Вы использовали для задачи 2.</i>
        </p>
        <!-- #endregion -->
    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>


        <p>
            Запись занятия можно скачать
            <a href="https://cloud.mail.ru/public/qJw9/YCkmQPpbK" target="_blank">по этой
                ссылке</a>, материалы занятия в прикрепленном архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
