<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 min-vh-100 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Понятие об объекте Promise – реализация асинхронного кода в JavaScript</li>
            <li>Создание Promise(), методы resolve() и reject()</li>
            <li>Метод then() и обработка успешного результата операции Promise</li>
            <li>Метод catch() и обработка ошибок при работе Promise</li>
            <li>Методы Promise.all() и Promise.race() для работы с коллекцией промисов</li>
            <li>Реализация AJAX на базе промисов</li>
            <li>Введение в Fetch API – асинхронная реализация AJAX средствами ядра JavaScript</li>
            <li>Асинхронные валидаторы в Angular – реализация на базе промисов</li>
            <li>Асинхронные сервисы в Angualar – реализация на базе промисов</li>
        </ul>

    </details>
    <!-- #endregion -->

    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Разработайте приложение <b>Angular</b> с использованием изученных возможностей Angular. Применяйте формы,
            валидаторы (синхронные и асинхронные), данные храните в локальном хранилище с использованием имитации
            таблицы базы данных <b>InMemoryWebApiModule</b>. Сервис доступа к «базе данных» выполните асинхронным с
            использованием промисов.
        </p>

        <p>
            Разбивка на компоненты и организация их взаимодействия – на Ваше усмотрение. В один из компонентов выводите
            текст этого задания.
        </p>

        <!-- #region Задание 1 -->
        <p>
            <b>Задача 1</b>. Дана коллекция – описание студентов спортивного клуба «Кодокан». Данные хранить в имитации
            таблицы базы данных <b>InMemoryWebApiModule</b>. Объект класса Студент имеет следующие поля: идентификатор,
            фамилия и инициал, дата рождения, номер телефона, адрес электронной почты, спортивный разряд (по
            возрастанию: 10й кю, 9й кю, …, 2й кю, 1й кю, 1й дан, 2й дан).
        </p>

        <p>
            Реализуйте REST-запросы к коллекции (добавление и редактирование сведений о студенте выполняйте в форме.
            Валидацию выполняйте стандартными валидаторами Angular).
        </p>

        <p>
            С помощью запросов с методом GET выполняйте следующие обработки:
        </p>

        <ul>
            <li>Вывести всех студентов всех групп</li>
            <li>Вывести список тренеров</li>
            <li>
                Вывести студентов, упорядочив по группам, внутри групп – по убыванию разрядов, внутри разряда – по
                алфавиту
            </li>
            <li>
                Вывести студентов выбранного тренера. Ввод параметра запроса в форме, примените валидацию стандартным
                валидатором Angular: поле обязательно для заполнения
            </li>
            <li>
                Вывести студентов с заданной датой рождения. Ввод параметра запроса в форме, примените валидацию
                стандартным валидатором Angular: поле обязательно для заполнения
            </li>
            <li>
                Вывести студентов с заданным диапазоном разрядов. Ввод параметров запроса в форме, примените стандартную
                валидацию для проверки заполнения и валидацию асинхронными валидатором для проверки правильности
                диапазона
            </li>
            <li>
                Вывести студентов с заданным диапазоном возраста. Ввод параметров запроса в форме, примените стандартную
                валидацию для проверки заполнения и валидацию асинхронными валидатором для проверки правильности
                диапазона
            </li>
            <li>Вывести самых молодых студентов</li>
            <li>Вывести самых старых студентов</li>
        </ul>
        <!-- #endregion -->
    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>


        <p>
            Запись занятия можно скачать
            <a href="https://cloud.mail.ru/public/K62Q/EQBJHXwwj" target="_blank">по этой
                ссылке</a>, материалы занятия в прикрепленном архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
