<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Стилизация дочерних компонентов</li>
            <li>Псевдокласс :hover</li>
            <li>Задание простой разметки и стиля компонента в файле класса компонента</li>
            <li>
                Режим распространения стиля на дочерние компоненты ViewEncapsulation.Emulated и ViewEncapsulation.None
            </li>
            <li>Передача данных в компонент – декоратор @Input</li>
            <li>Генерация событий в компоненте</li>
            <li>
                Передача данных из дочернего компонента в родительский при помощи событий дочернего компонента,
                декоратор @Output
            </li>
            <li>Передача контента в дочерний компонент при помощи директивы <b>ng-context</b></li>
            <li>Декоратор @ViewChild – доступ к элементам разметки в классе компонента</li>
        </ul>

    </details>
    <!-- #endregion -->


    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Разработайте приложение Angular с компонентами, маршрутизацией по этим компонентам, с использованием
            изученных тем по Angular. Используйте модели, вспомогательные модули для хранения данных и реализации
            обработок. Не надо применять сервисы для источников данных, формы.
        </p>

        <!-- #region Задание 1 -->
        <p>
            <b>Задача 1</b>. Описать класс Student, содержащий поля:
        </p>

        <ul>
            <li>фамилия и инициалы;</li>
            <li>пол студента;</li>
            <li>
                фотография студента (заранее подготовленные файлы, с именами man001, woman001 и т.д. Имя файла
                генерируется в зависимости от пола студента);
            </li>
            <li>название группы;</li>
            <li>успеваемость (массив из пяти элементов типа Mark)</li>
            <li>Mark – класс: название предмета, оценка</li>
        </ul>

        <p>
            Реализуйте действия с коллекцией объектов класса Student, сохранять коллекцию в локальном хранилище:
        </p>

        <ul>
            <li>заполнение данными (сгенерированными) массива из десяти элементов</li>
            <li>вывод массива студентов в исходном порядке</li>
            <li>удаление студента из коллекции</li>
            <li>добавление студента в коллекцию (генерировать данные студента)</li>
            <li>выделение студентов, имеющих хотя бы одну оценку 2</li>
            <li>выделение студентов, имеющих оценки 4 и 5</li>
            <li>выделение студентов заданной группы</li>
            <li>упорядочивание копии массива студентов по возрастанию среднего балла</li>
            <li>упорядочивание копии массива студентов по фамилиям и инициалам</li>
            <li>упорядочивание копии массива студентов по названию группы</li>
        </ul>
        <!-- #endregion -->

        <!-- #region Задание 2 -->
        <p>
            <b>Задача 2</b>. Сформировать массив фильмов в фильмотеке (использовать классы, фильмов не менее 10, хранить
            в локальном хранилище, фильм описывается названием, фамилией и инициалами режиссера, жанром, годом выпуска).
            Вывести фильмы в компонент. По командным кнопкам, выбирать записи:
        </p>

        <ul>
            <li>с заданным жанром</li>
            <li>с заданным режиссером</li>
            <li>с заданным годом выпуска.</li>
        </ul>
        <!-- #endregion -->
    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>


        <p>
            Запись занятия можно скачать
            <a href="https://cloud.mail.ru/public/6Rws/X4accthyv" target="_blank">по этой
                ссылке</a>, материалы занятия в прикрепленном архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
