<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Модули Angular, декоратор @NgModule</li>
            <li>Вспомогательные модули для папок компонентов</li>
            <li>Файл <b>index.ts</b> для упрощения импорта из папки компонентов</li>
            <li>Создание компонентов в папке при помощи команды <b>ng</b></li>
            <li>Создание модулей при помощи команды <b>ng</b></li>
        </ul>

    </details>
    <!-- #endregion -->


    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            <b>Задача 1</b>. Создать массив объектов класса Worker. В массиве должно быть не менее
            10 экземпляров. В объекте Worker должны быть следующие поля:
        </p>

        <ul>
            <li>идентификатор работника</li>
            <li>фамилия и инициалы работника;</li>
            <li>название занимаемой должности;</li>
            <li>пол (мужской или женский, другие варианты не требуются);</li>
            <li>год поступления на работу;</li>
            <li>имя файла с фотографией работника (графические файлы, рекомендуемые
                имена файлов: man_001.jpg, woman_001.jpg, подготовьте файлы заранее,
                добавлять файлы в приложении не надо);
            </li>
            <li>величина оклада работника;</li>
            <li>метод вычисления стажа работника для текущей даты.</li>
        </ul>

        <p>
            Выполнить для массива работников (объектов Worker) при помощи кликов по экранным
            кнопкам и/или по выбранным клавишам следующие обработки (после 15 секунд выводить
            массив в исходном состоянии):
        </p>

        <ul>
            <li>вывод массива с упорядочиванием фамилий по алфавиту;</li>
            <li>вывод массива с упорядочиванием по убыванию кладов;</li>
            <li>вывод массива с выделением работников с окладами, равными минимальному</li>
            <li>вывод массива с выделением работников с окладами, равными максимальному,</li>
            <li>вывод массива с выделением работников с превышением заданного в строке
                ввода стажа работы
            </li>
            <li>вывод массива с выделением работников с заданной должностью</li>
            <li>вывод массива с выделением работников с заданным годом поступления на работу,</li>
            <li>
                <b>Дополнительно.</b> При создании массива проверить его наличие в локальном хранилище, если массива нет
                – записать его в локальное хранилище, если массив есть в хранилище – прочитать данные в массив
            </li>
            <li>
                <b>Дополнительно.</b> В отдельном компоненте выведите в виде гистограммы стаж работников, используйте
                canvas по примеру в файлах 004_canvas_samples\004_chart.html и BarChart.js занятия 08.06.2022 (есть в
                папке <b>bar-chart</b>)
            </li>
        </ul>
        <!-- #endregion -->
    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>


        <p>
            Запись занятия можно скачать
            <a href="https://cloud.mail.ru/public/5D4i/9g6bZP6MK" target="_blank">по этой
                ссылке</a>, материалы занятия в прикрепленном архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
