<h2>Referense / Доступ к элементам в шаблоне</h2>

<!--
   именуем элементы разметки для получения доступа к ним
   в коде компонента, в шаблоне компонента
   #имя
   ref-имя
-->
<h3 #Title>Заголовок h3</h3>
<p #par>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев.</p>
<span ref-Span>Этот контент не имеет значения</span>
<br>
<br>
<button #btn (click)="show(Title, par, Span, btn)">Конкатенация имен элементов</button>
<br>
<br>
Конкатенация выполнена: <b>{{result}}</b>

<!--
    Template Reference Variable - ссылка на DOM элемент или директиву в шаблоне.
    К переменной можно обратиться в любой части шаблона, в котором она объявлена.

    Есть два способа объявления переменной:
    префикс #, например #varname
    префикс ref-, например, ref-varname
-->
