<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 min-vh-100 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Понятие о библиотеке RxJS</li>
            <li>Подписка на события</li>
            <li>Отписка от события</li>
            <li>Модуль HttpClient, использование модуля для получения данных от HTTP-сервера</li>
            <li>Использование InMemoryWebApiModule для имитации БД сервера на компьютере клиента, отладки HTTP
                REST-запросов
            </li>
            <li>Передача параметров в GET-запросы</li>
            <li>Передача заголовков (рассмотрим 19.10.2022)</li>
        </ul>

    </details>
    <!-- #endregion -->

    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Разработайте приложение <b>Angular</b> с компонентами, маршрутизацией по этим компонентам, с использованием
            изученных тем по Angular. Используйте модели, вспомогательные модули для хранения данных и реализации
            обработок. Не надо применять сервисы для источников данных, формы.
        </p>

        <p>
            Разбивка на компоненты и организация их взаимодействия – на Ваше усмотрение. В один из компонентов выводите
            текст этого задания.
        </p>

        <!-- #region Задание 1 -->
        <p>
            <b>Задача 1</b>. Требуется получать коллекцию пользователей используя
            <a href="https://jsonplaceholder.typicode.com/">ресурс</a> по запросу
            <a href="https://jsonplaceholder.typicode.com/users/">https://jsonplaceholder.typicode.com/users/</a>.
            Сохранять в коллекции поля: id, name, username, email, phone, website. Коллекцию выводить в компонент
            представления, коллекцию получайте сервисом.
        </p>

        <ul>
            <li>
                По кнопке вывести все посты пользователя (запрос вида <a
                href="https://jsonplaceholder.typicode.com/users/2/posts">https://jsonplaceholder.typicode.com/users/2/posts</a>
                где 2 - идентификатор пользователя), также выводить количество постов, минимальную, среднюю и
                максимальную длину текста (поле body) в символах
            </li>
            <li>
                По кнопке вывести фото из альбома пользователя (запрос вида <a
                href="https://jsonplaceholder.typicode.com/albums/1/photos">https://jsonplaceholder.typicode.com/albums/1/photos</a>
                где 1 – идентификатор пользователя, выводить поле thumbnailUrl), количество фотографий в альбоме
            </li>
            <li>
                Вывести список дел пользователя (запрос вида <a
                href="https://jsonplaceholder.typicode.com/users/3/todos">https://jsonplaceholder.typicode.com/users/3/todos</a>
                где 3 – идентификатор пользователя), количество дел, количество завершенных и не завершенных дел
            </li>
        </ul>
        <!-- #endregion -->

        <!-- #region Задание 2 -->
        <p>
            <b>Задача 2</b>. Дана коллекция – описание книг. Книги хранить в имитации таблицы базы данных
            InMemoryWebApiModule. Объект класса Книга имеет следующие поля: идентификатор, название книги, год издания,
            цена, фамилия и инициалы автора. Реализуйте REST-запросы к коллекции (при добавлении генерируйте данные
            книги). В методе GET обрабатывайте следующие запросы (при необходимости используйте параметры, но формы для
            ввода параметров не применяйте):
        </p>

        <ul>
            <li>Вывести все книги коллекции</li>
            <li>Вывести книги с заданным автором. Выводить название и год издания книги</li>
            <li>
                Вывести книги, в названии которых содержится заданная подстрока и цена не превышает заданного значения
            </li>
            <li>
                Вывести название, автора книг, цена на которые попадает в заданный диапазон значений, выбранные книги
                упорядочить по автору
            </li>
            <li>Список авторов книг в коллекции, список упорядочить по алфавиту</li>
            <li>Самые недорогие книги</li>
            <li>Самые старые книги</li>
            <li>Упорядочить книги по убыванию цены</li>
            <li>Упорядочить книги по автору</li>
            <li>Упорядочить книги по названию</li>
        </ul>
        <!-- #endregion -->
    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>


        <p>
            Запись занятия можно скачать
            <a href="https://cloud.mail.ru/public/9jvw/Jpvveemz8" target="_blank">по этой
                ссылке</a>, материалы занятия в прикрепленном архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
