<!-- #region Навигация -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top shadow">
    <div class="container-fluid justify-content-center">

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">

                <!-- Introduction -->
                <li class="nav-item">
                    <a class="nav-link mx-3" routerLink="introduction" routerLinkActive="active">Introduction</a>
                </li>

                <!-- Chapter1 -->
                <li class="nav-item">
                    <a class="nav-link mx-3" routerLink="chapter1" routerLinkActive="active">Chapter1</a>
                </li>

                <!-- Chapter2 -->
                <li class="nav-item">
                    <a class="nav-link mx-3" routerLink="chapter2" routerLinkActive="active">Chapter2</a>
                </li>

                <!-- Chapter3 -->
                <li class="nav-item">
                    <a class="nav-link mx-3" routerLink="chapter3" routerLinkActive="active">Chapter3</a>
                </li>

                <!-- Chapter4 -->
                <li class="nav-item">
                    <a class="nav-link mx-3" routerLink="chapter4" routerLinkActive="active">Chapter4</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- #endregion -->

<router-outlet></router-outlet>
